<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.javagraphqlapi.dao.mysql.AqyCodeMapper">
    <resultMap id="AqyCodeResultMq" type="com.example.javagraphqlapi.model.mysql.AqyCode">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="codestatus" property="codeStatus"/>
        <result column="create_data" property="createDate"/>
        <result column="order_no" property="orderNo"/>
        <result column="product_no" property="productNo"/>
        <result column="product_name" property="productName"/>
        <result column="remark" property="remark"/>
        <result column="suppliers" property="suppliers"/>
        <result column="valid_start" property="validStart"/>
        <result column="valid_end" property="validEnd"/>
        <result column="import_start" property="importStart"/>
        <result column="import_end" property="importEnd"/>
        <result column="validity_date" property="validityDate"/>
    </resultMap>

    <sql id="AqyCode">
        id,
        code,
        code_status AS codeStatus,
        create_date AS createDate,
        order_no AS orderNo,
        product_no AS productNo,
        product_name AS productName,
        remark AS ramark,
        suppliers AS suppliers,
        valid_start AS validStart,
        valid_end AS validEnd,
        import_start AS importStart,
        import_end AS importEnd,
        validity_date AS validityDate
    </sql>

    <select id="listByOrderNo" resultMap="AqyCodeResultMq" parameterType="string">
        SELECT * FROM aqy_code where order_no = #{orderNo}
    </select>
    <select id="findByCodeId" resultType="com.example.javagraphqlapi.model.mysql.AqyCode">
        SELECT
        <include refid="AqyCode"/>
        FROM aqy_code
        WHERE id = #{id}
    </select>
    <select id="findByParams" resultMap="AqyCodeResultMq">
        SELECT * FROM aqy_code
        <where>
            <if test="orderNo != null and orderNo != ''">
                order_no = #{orderNo}
            </if>
            <if test="code != null and code != ''">
                AND code = #{code}
            </if>
            <if test="codeStatus != null">
                AND code_status = #{codeStatus}
            </if>
        </where>
    </select>
    <select id="listCodeByPage" resultMap="AqyCodeResultMq">
        SELECT * FROM aqy_code
        <where>
            <if test="orderNo != null and orderNo != ''">
                order_no = #{orderNo}
            </if>
        </where>
        LIMIT #{start},#{offset}
    </select>
    <select id="pageCountByParams" resultType="java.lang.Integer">
        SELECT count(id) FROM aqy_code
        <where>
            <if test="orderNo != null and orderNo != ''">
                order_no = #{orderNo}
            </if>
        </where>
    </select>
</mapper>